#playerDIV {
    /* bottom: 10px; */
    position: absolute;
    color: white;
    text-align: center;
    width: 50%;
    left: 50%; 
    margin-left: -25%;
    /* border: 1px solid orange; */
    z-index: 30;
    /* opacity: .2; */
}

h3 {
    color: white;
}