
<div id="playerDIV"
[@playerOpenClose]="this.optionsService.renderPlayer == true ? 'playerOpen' : 'playerClosed'">
<!-- <button id="playerHideBtn" *ngIf = "this.optionsService.getOptions().showSplash.value == false" (click)="this.togglePlayer()"> -->
<button id="playerHideBtn" *ngIf = "this.optionsService.showSplash == false" (click)="this.togglePlayer()">
    <!-- <i class="material-icons">{{ this.optionsService.getOptions().renderPlayer.value === true ? 'close' : 'more_horiz' }}</i> -->
  <i class="material-icons">{{ this.optionsService.renderPlayer === true ? 'close' : 'more_horiz' }}</i>
</button>

  <div *ngIf= "this.optionsService.microphone === false">
    <div>
      <button class="playerButton" (click)="this.previousTrack()"><i class="material-icons">skip_previous</i></button>
      <button class="playerButton" (click)="this.playPause()">
        <!-- <i class="material-icons">{{ this.optionsService.getState().playing.value === true ? 'pause_circle_outline' : 'play_circle_outline' }}</i> -->
        <i class="material-icons">{{ this.optionsService.playing === true ? 'pause_circle_outline' : 'play_circle_outline' }}</i>
      </button>
      <button class="playerButton" (click)="this.nextTrack()"><i class="material-icons">skip_next</i></button>
    </div>

    <div>
      <i id="downicon" class="material-icons md-18">volume_mute</i>
        <!-- <input type="range" 
        class="volume-slider"
         min="0" 
        [max]="10" step="1" 
        [(ngModel)] ="this.optionsService.volume" 
        ng-model-options="{ getterSetter: true }" 
        (input)="onSliderChangeVolume($event)" 
        (change)="onSliderChangeVolume($event)"> -->
        <input type="range" 
        class="volume-slider" 
          [min]="this.optionsService.getState().volume.min"
          [max]="this.optionsService.getState().volume.max" 
          [step]="this.optionsService.getState().volume.step"
          [(ngModel)]="this.optionsService.volume" 
          ng-model-options="{ getterSetter: true }"
          (input)="onSliderChangeVolume($event)" 
          (change)="onSliderChangeVolume($event)">
      <i id="upicon" class="material-icons md-18">volume_up</i>
    </div>

    <!-- <div *ngIf="this.optionsService.getOptions().showTrackTitle.value"> -->
    <div *ngIf="this.optionsService.showTrackTitle">
        <!-- {{this.playList[this.optionsService.getState().currentTrack.value]?.title || ""}} -->
      {{this.playList[this.optionsService.currentTrack]?.title || ""}}
    </div>

    <div>
      <div>
        {{ this.formatTime(this.currentTime) }}
        <input type="range" class="time-slider" min="0" [max]="this.duration" step="1" value="{{this.currentTime}}"
          (input)="onSliderChangeTime($event)">
        &nbsp;{{ this.formatTime(this.duration) }}
      </div>
    </div>

  </div>
      <div id="originalFileInputWrapper">
        <input id="fileInput" (change)="fileChangeEvent($event)" placeholder="Upload file..." type="file"
          accept="audio/mpeg" multiple />
      </div>
  
      <div id="originalAudioWrapper">
        <audio id="audio" class="button" autoplay controls>The Audio Element is not supported on this device!</audio>
      </div>
</div>
