.md-18 {
    font-size: 18px;
}

#playerDiv {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 30;
    bottom: "-130px";
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    padding: 15px;
}

#playerHideBtn {
    top: -25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    z-index: 30;
    background-color: rgba(176, 176, 176, 0);
    border: none;
    color: #F8F2C0;
}

#minimizeBtn {
    margin-top: -10px;
    margin-right: -10px;
    float: right;
}

#originalAudioWrapper, #originalFileInputWrapper {
   display: none;
}

.playerButton {
    background-color: Transparent;
    border: none;
    color: white;
}

#upicon {
    margin-left: 3px;
}

#vslider {
    margin-bottom: 5px;
}

#downicon {
    margin-right: -5px;
}
