<div id="options">
  <div id="glowContainer">
    <mat-accordion multi="true">


      <mat-expansion-panel expanded="false" *ngIf="this._environment.production === false">
        <mat-expansion-panel-header [@.disabled]="true" expandedHeight="30px" collapsedHeight="30px">
          Development Tools
        </mat-expansion-panel-header>

        <div id="listBtnContainer">

          <div class="btnContainer">
            <button class="playlistButton" (click)="logCurrentVisual($event)">
              <i id="gdownicon" class="material-icons md-18" style="cursor: no-drop; vertical-align: middle; float: left;">description</i>
              Log Visual
            </button>
            <button class="playlistButton" (click)="logScene($event)">
              <i id="gdownicon" class="material-icons md-18" style="cursor: no-drop; vertical-align: middle; float: left;">description</i>
              Log Scene
            </button>
          </div>

          <div class="btnContainer">
            <button class="playlistButton" (click)="logOptions($event)">
              <i id="gdownicon" class="material-icons md-18" style="cursor: no-drop; vertical-align: middle; float: left;">description</i>
              Log Options
            </button>
            <button class="playlistButton" (click)="logFavorites($event)">
              <i id="gdownicon" class="material-icons md-18" style="cursor: no-drop; vertical-align: middle; float: left;">description</i>
              Log Favorites
            </button>
          </div>

          <div class="btnContainer">
            <button class="playlistButton" (click)="logCamera($event)">
              <i id="gdownicon" class="material-icons md-18" style="cursor: no-drop; vertical-align: middle; float: left;">description</i>
              Log Camera
            </button>
          </div>

        </div>
        <br>
        <input type="checkbox" id="Show Axis" name="Show Axis"
          [(ngModel)]="this.optionsService.newBaseOptions.general.showAxis" (click)="axisChange($event)">
        <label for="Show Axis"> Show Axis</label>

      </mat-expansion-panel>

      <app-visual-selection></app-visual-selection>
      <app-visual-effects></app-visual-effects>
      <app-light-options></app-light-options>

    </mat-accordion>
  </div>


</div>
