#rendererCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* background-color: white; */
  background: transparent;


  border: 2px solid red;

}

  
#canvasEffects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 4px solid blue;
  touch-action: none;
  pointer-events: none;
  background: transparent;
  /* background-color: white; */


}

#tmp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5000;
  left: 5000;
  z-index: 0;
  touch-action: none;
  pointer-events: none;
  /* filter: grayscale(95%); */
  /* filter: hue-rotate(180deg); */
  background: transparent;
  /* background-color: white; */

}
