#options {
    /* border: 1px solid blue; */
    margin-top: 10px;
    padding-left: 15px;
    color: white;
}

.optionHeader {
    text-decoration: underline;
    margin-top: 15px;
}

.optionsContainer {
    margin-left: 15px;
}

label  {
    margin-left: 5px;
}