#options {
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    color: white;
    box-shadow:
        0 0 8px 5px blue, 
        inset 0 0 8px 5px blue;
    height: 99%;

}

#glowContainer {
    height: 100%;
    overflow: auto;
}


.optionHeader {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkblue;
}

.optionsContainer {
    margin-left: 10px;
    margin-right: 10px;
}

label  {
    margin-left: 5px;
}

button {
    width: 100%;
    margin-bottom: 5px;
}