#options {
    /* border: 1px solid blue; */
    margin: 8px;
    margin-left: 0;
    padding-left: 8px;
    color: white;

}

#glowContainer {
    padding: 10px;
    border: 1px solid blue;
    box-shadow:
    /* 0 0 2px 2px #fff,  inner blue */
    0 0 8px 5px blue, /* middle magenta */
    /* 0 0 10px 4px #0ff,  */
    inset 0 0 8px 5px blue;
    /* inset 0 0 10px 4px #0ff;  */
}

.optionHeader {
    text-decoration: underline;
    margin-top: 15px;
}

.optionsContainer {
    margin-left: 15px;
}

label  {
    margin-left: 5px;
}