
#title {
    top: 10px;
    position: absolute;
    color: white;
    text-align: center;
    z-index: 30;
    width: 90%;
    left: 50%;
    margin-left: -45%;
}

p {
    padding: 0;
    margin: 0;
}
