
#splashScreen {
  color: black;
  background-color: lightgray;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border: 5px solid black;
  -o-border-image: radial-gradient(#9C8355 20%, #F8F2C0) 20;
     border-image: -webkit-radial-gradient(#9C8355 20%, #F8F2C0) 20;
     border-image: radial-gradient(#9C8355 20%, #F8F2C0) 20;
  box-shadow: 4px 4px 6px rgba(63, 63, 63, 0.653), 2px 2px 5px black inset;
  z-index: 100;
}

#splashContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  width: 90px;
  border-radius: 5px;
  border-top: 1px solid rgb(206, 206, 206);
  border-left: 1px solid rgb(206, 206, 206);
  border-right: 1px solid rgb(92, 92, 92);
  border-bottom: 1px solid rgb(92, 92, 92);
  background-image: -webkit-linear-gradient(top left, rgb(202, 202, 202),rgb(139, 139, 139) );
  background-image: linear-gradient(to bottom right, rgb(202, 202, 202),rgb(139, 139, 139) );
  box-shadow: 3px 3px 4px rgba(155, 155, 155, 0.856),
  3px 3px 3px white inset, 
  -3px -3px 3px rgb(105, 105, 105) inset;
}

button:hover {
  background-image: -webkit-linear-gradient(top left, rgb(223, 223, 223),rgb(167, 167, 167) );
  background-image: linear-gradient(to bottom right, rgb(223, 223, 223),rgb(167, 167, 167) );
}

p {
    text-align: center;
}
