#main, #options  {
    /* border: 5px solid red; */
    padding:0px;
    height: 100vh;
    margin: 0;
}

.fixed{
    width: 260px;
}

button {
    border: none;
    border-radius: 15px 0 0 15px;
    position: absolute;
    height: 70px;
    width: 30px;
    z-index: 500;
    margin-top: -35px;
    top: 50%;
    right: 0px;
    opacity: 0.2;
    font-size: 200%;
}

button:hover {
    opacity: .9;
}

#optionsContainer {
    /* display:absolute; */
    height: 99vh;
    /* border: 1px solid green; */
}