
<app-title [title]="title"></app-title>


<div [@splashOpenClose]="this.optionsService.options.showSplash.value == true ? 'splashOpen' : 'splashClosed'">
  <app-splash-screen [title]="title"></app-splash-screen>
</div>


<div id="mainContainer"  class="d-flex">

  <div id="main" class="col">

    <app-canvas3-d></app-canvas3-d>
    <app-canvas2-d></app-canvas2-d>

    <!-- <app-audio-player id="ngPlayerDIV" *ngIf = "this.options.showPlayer.value == true" ></app-audio-player> -->
    <app-player id="ngPlayerDIV" *ngIf = "this.options.showPlayer.value == true" ></app-player>
    <button *ngIf = "this.options.showSplash.value == false" (click)="this.togglePanel()">{{ this.optionsService.options.showPanel.value == true ? ">" : "<" }}</button>
  
  </div>
  
  <div id="optionsContainer" class="fixed" [@panelOpenClose]="this.optionsService.options.showPanel.value == true ? 'panelOpen' : 'panelClosed'">
    
    <app-options-panel></app-options-panel>

  </div>
  
</div>
  


