#options {
    /* border: 1px solid blue; */
    margin: 0px;
    margin-right: 0;
    margin-top: 0;
    padding: 10px;
    padding-right: 0;
    padding-left:0;
    padding-top:0;
    padding-bottom:0;
    background-color: lightgray;
    color: black;
    border: 5px solid black;
    border-image: radial-gradient(#9C8355 20%, #F8F2C0) 20;
    box-shadow: 4px 4px 6px rgba(70, 46, 0, 0.653), 2px 2px 5px black inset;
    
    height: 100%;

}

#glowContainer {
    height: 100%;
    margin: 5px;
    margin-top:0;
    margin-right:0;
    margin-left: 0;
    padding: 10px;
    /* padding-right: 0; */
    overflow: auto;
}


.optionHeader {
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkblue;
}

/* .optionsContainer { */
    /* margin-left: 15px; */
/* } */

label  {
    margin-left: 5px !important;
}

input {
    margin-left: 5px !important;
}

#listBtnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.playlistButton {
    /* display: block; */
    width: 100px;
    /* flex-grow: 4; */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 7px 7px 8px #fafafa inset, -5px -5px 6px #7796b3 inset, 2px 2px 6px rgba(68, 68, 68, 0.653);
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(100, 100, 100);
    background: linear-gradient(to bottom right, rgb(227, 240, 255), rgb(186, 217, 255));
}

.track {
    white-space: nowrap;
    overflow: hidden;
    /* padding: 0; */
    /* margin: 0; */
}

.labelContainer {
    display: inline-block;
    overflow: none;
    /* padding: 0; */
    /* margin: 0; */
}

/* .trackLabel { */
    /* margin-top: 10px; */
    /* text-indent: -50px; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* margin-top: 5px; */
    /* padding: 0; */
/* } */


.playerButton {
    background-color: Transparent;
    border: none;
    outline: none;   
    color: black;
}

#upicon {
    margin-left: 3px;
}

#downicon {
    margin-right: -5px;
}