


<div id="options">
    <div id="glowContainer">    
        <p class="optionHeader" >General Options</p>

        <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">   
            <ng-container *ngIf="this.options[option].group=='General'" >
                <ng-container *ngIf="this.options[option].type=='checkbox'" >
                    <input type="checkbox" [id]="option" [name]="option" (click)="toggleItem($event)" [checked]="this.options[option].value" > 
                    <label [for]="option"> {{this.options[option].label}}</label>
                </ng-container>
                <ng-container *ngIf="this.options[option].type=='slider'" >
                    <input  class="range" type="range" [id]="option" [name]="option" (input)="updateItem($event)" (change)="updateItem($event)" 
                    [min]="this.options[option].min" [max]="this.options[option].max" [value]="this.options[option].value" step="1"> 
                    <br><label class="rangeLabel">{{this.options[option].label}} ({{this.options[option].value}})</label>
                </ng-container>
            </ng-container>  
        </div>

        <div>
            <button class="playerButton" (click)="this.previousTrack()"><i class="material-icons">skip_previous</i></button>
            <button class="playerButton" (click)="this.playPause()"><i class="material-icons">{{ this.optionsService.state.playing.value === true ? 'pause_circle_outline' : 'play_circle_outline' }}</i></button>
            <button class="playerButton" (click)="this.nextTrack()"><i class="material-icons">skip_next</i></button>
          </div>
        
          <div>
              <i id="vdownicon" class="material-icons">volume_mute</i>
            <input type="range" class="volume-slider" min="0" [max]="10" step="1" [value]="this.options.volume.value"
              (input)="onSliderChangeVolume($event)" (change)="onSliderChangeVolume($event)">
              <i id="vupicon" class="material-icons">volume_up</i>
          </div>
        <!-- <p class="optionHeader" >Player Options</p>

        <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">      
            <ng-container *ngIf="this.options[option].group=='Player'" >
                <ng-container *ngIf="this.options[option].type=='checkbox'" >
                    <input type="checkbox" [id]="option" [name]="option" (click)="toggleItem($event)" [checked]="this.options[option].value"> 
                    <label [for]="option"> {{this.options[option].label}}</label>
                </ng-container>
                <ng-container *ngIf="this.options[option].type=='slider'" >
                    <input class="range" type="range" [id]="option" [name]="option" (input)="updateItem($event)" (change)="updateItem($event)" 
                    [min]="this.options[option].min" [max]="this.options[option].max" [value]="this.options[option].value" step="1"> 
                    <br><label class="rangeLabel">{{this.options[option].label}} ({{this.options[option].value}})</label>
                </ng-container>
            </ng-container>  
        </div> -->

        <!-- <p class="optionHeader" >General Visual Options</p>

        <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">      
            <ng-container *ngIf="this.options[option].group=='Visual'" >
                <ng-container *ngIf="this.options[option].type=='checkbox'" >
                    <input type="checkbox" [id]="option" [name]="option" (click)="toggleItem($event)" [checked]="this.options[option].value"> 
                    <label [for]="option"> {{this.options[option].label}}</label>
                </ng-container>
                <ng-container *ngIf="this.options[option].type=='slider'" >
                    <input class="range"  type="range" [id]="option" [name]="option" (input)="updateItem($event)" (change)="updateItem($event)" 
                    [min]="this.options[option].min" [max]="this.options[option].max" [value]="this.options[option].value" step="1"> 
                    <br><label class="rangeLabel" [for]="option">{{this.options[option].label}} ({{this.options[option].value}})</label>
                </ng-container>
            </ng-container>  
        </div> -->

        <p class="optionHeader">3D Visuals</p>

        <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">      
            <ng-container *ngIf="this.options[option].group=='3DVisual'" >
                <ng-container *ngIf="this.options[option].type=='checkbox'" >
                    <input type="checkbox" [id]="option" [name]="option" (click)="toggleItem($event)" [checked]="this.options[option].value"> 
                    <label [for]="option"> {{this.options[option].label}}</label>
                </ng-container>
                <ng-container *ngIf="this.options[option].type=='slider'" >

                    <i id="gdownicon" class="material-icons">remove_circle_outline</i>
                    <input class="range"  type="range" [id]="option" [name]="option" (input)="updateItem($event)" (change)="updateItem($event)" 
                    [min]="this.options[option].min" [max]="this.options[option].max" [value]="this.options[option].value" step="1"> 
                    <i id="gupicon" class="material-icons">add_circle_outline</i>

                    <br><label class="rangeLabel" [for]="option">{{this.options[option].label}} ({{this.options[option].value}})</label>
                </ng-container>
                <ng-container *ngIf="this.options[option].type=='radio'" >
                    <input type="radio" [id]="option" name="3DVisuals" [value]="this.options[option].value"  (click)="radioChange($event)" [checked]="this.options[option].checked">
                    <label [for]="option"> {{this.options[option].label}}</label>
                </ng-container>
            </ng-container>  
        </div>

        <p class="optionHeader">Playlist</p>

        <div id="listBtnContainer">
            <button class="playlistButton" (click)="siteListSelection()">Site Playlist</button>
            <button class="playlistButton" (click)="localListSelection()">Local Playlist</button>
        </div>

        <ng-container *ngFor="let track of this.optionsService.state.playlist.value; index as i">
            <!-- <div >{{i}} - {{track.title}}</div> -->
            <div class="track">
                <input type="radio" [id]="'track'+i" name="tracks" [value]="i"  (click)="trackChange($event)" [checked]="this.optionsService.state.currentTrack.value === i">
                <div class="labelContainer">
                    <label class="trackLabel" [for]="'track'+i">{{i}} - {{track.title}}</label>
                </div> 
            </div>
        </ng-container>





 
        <ng-container *ngIf="this.optionsService.env == 'dev'">

            <p class="optionHeader" >Developer Options</p>
        
            <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">      
                <ng-container *ngIf="this.options[option].group=='Developer'" >
                    <ng-container *ngIf="this.options[option].type=='checkbox'" >
                        <input type="checkbox" [name]="option" (click)="toggleItem($event)" [checked]="this.options[option].value"> 
                        {{this.options[option].label}}
                    </ng-container>
                </ng-container>  
            </div>

            <div id="console" *ngIf="this.options.showConsole.value == true">

                <p class="optionHeader" >Console</p>
            
                <div class="optionsContainer" *ngFor="let option of objectKeys(this.options)">
                    <ng-container *ngIf = "this.options[option].showInConsole && this.options[option].type =='numeric'">
                        {{this.options[option].label + ': ' + (this.options[option].value | number:'0.2')}}
                    </ng-container>
                    <ng-container *ngIf = "this.options[option].showInConsole && this.options[option].type =='checkbox'">
                        {{this.options[option].label + ': ' + (this.options[option].value )}}
                    </ng-container>
                    <ng-container *ngIf = "this.options[option].showInConsole && this.options[option].type =='radio'">
                        {{this.options[option].label + ': ' + (this.options[option].checked )}}
                    </ng-container>
                </div>

                <div class="optionsContainer" *ngFor="let option of objectKeys(this.optionsService.state)">
                    <ng-container *ngIf = "this.optionsService.state[option].showInConsole && this.optionsService.state[option].type =='numeric'">
                        {{this.optionsService.state[option].label + ': ' + (this.optionsService.state[option].value | number:'0.2')}}
                    </ng-container>
                    <ng-container *ngIf = "this.optionsService.state[option].showInConsole && this.optionsService.state[option].type !='numeric'">
                        {{this.optionsService.state[option].label + ': ' + (this.optionsService.state[option].value )}}
                    </ng-container>
                </div>

            </div>

        </ng-container>

    </div>
</div>
