<div id="options">
  <div id="glowContainer">
    <mat-accordion multi="true">
      <!-- <div id="listBtnContainer">
        <div class="btnContainer">
          <button class="playlistButton" (click)="logCurrentVisual($event)">Log Visual</button>

          <button class="playlistButton" (click)="logScene($event)">Log Scene</button>
        </div>
        <div class="btnContainer">

          <button class="playlistButton" (click)="logOptions($event)">Log Options</button>

          <button class="playlistButton" (click)="logFavorites($event)">Log Favorites</button>
        </div>
      </div>
      <br>
      <input type="checkbox" id="Show Axis" name="Show Axis"
        [(ngModel)]="this.optionsService.newBaseOptions.general.showAxis" (click)="axisChange($event)">
      <label for="Show Axis"> Show Axis</label> -->
      <!-- <p>
      Alpha:  {{this.engineService.scene.cameras[0] as BABYLON.ArcRotateCamera.alpha}}<br>
      Beta:   {{this.engineService.scene.cameras[0].beta}}<br>
      Radius: {{this.engineService.scene.cameras[0].radius}}</p> -->
      <!-- General Options -->
      <app-general-options></app-general-options>

      <!-- Visual Favorites List -->
      <mat-expansion-panel expanded="true">

        <mat-expansion-panel-header [@.disabled]="true" expandedHeight="30px" collapsedHeight="30px">
          Favorite Settings
        </mat-expansion-panel-header>

        <div class="optionsContainer" *ngFor="let favorite of this.optionsService.favorites">
          <!-- {{favorite.name}} - {{favorite.options.version}} - -->

          <input type="radio" [id]="favorite.value" name="favorites" [value]="favorite.value"
            (click)="favoriteChange($event)" [checked]="favorite.checked">
          <label [for]="favorite.label"> {{favorite.label}} </label>
          <i 
          (click)="favoriteDelete($event)" [id]="favorite.value" class="material-icons"
            style="cursor: no-drop; display: inline; vertical-align: middle;">delete_forever</i>
          <br>
        </div>

      </mat-expansion-panel>


      <!-- Play List -->
      <mat-expansion-panel expanded="true">

        <mat-expansion-panel-header [@.disabled]="true" expandedHeight="30px" collapsedHeight="30px">
          Audio Playlist
        </mat-expansion-panel-header>

        <!-- Player -->

        <ng-container *ngIf="this.optionsService.microphone === false">

          <div class="player">
            <button class="playerButton" (click)="this.previousTrack()"><i
                class="material-icons">skip_previous</i></button>
            <button class="playerButton" (click)="this.playPause()"><i
                class="material-icons">{{ this.optionsService.playing === true ? 'pause_circle_outline' : 'play_circle_outline' }}</i></button>
            <button class="playerButton" (click)="this.nextTrack()"><i class="material-icons">skip_next</i></button>
          </div>

          <div class="volume">
            <i id="vdownicon" class="material-icons md-18">volume_mute</i>

            <input type="range" class="volume-slider" [min]="this.optionsService.getState().volume.min"
              [max]="this.optionsService.getState().volume.max" [step]="this.optionsService.getState().volume.step"
              [(ngModel)]="this.optionsService.volume" ng-model-options="{ getterSetter: true }"
              (input)="onSliderChangeVolume($event)" (change)="onSliderChangeVolume($event)">

            <i id="vupicon" class="material-icons md-18">volume_up</i>
          </div>

        </ng-container>


        <div id="listBtnContainer">
          <div class="btnContainer">
            <button class="playlistButton" [ngClass]="{'active' : this.optionsService.input === 'site'}"
              (click)="siteListSelection()">Site Music</button>
            <button class="playlistButton" [ngClass]="{'active' : this.optionsService.input === 'local'}"
              (click)="localListSelection()">Local Music</button>
          </div>
          <div class="btnContainer">
            <button class="playlistButton" [ngClass]="{'active' : this.optionsService.input === 'mic'}"
              (click)="this.audioService.enableMic()">Mic</button>
            <button class="playlistButton" (click)="randomizeList()">Randomize</button>
          </div>
        </div>

        <ng-container *ngIf="this.optionsService.microphone === false">
          <ng-container *ngFor="let track of this.optionsService.getState().playlist.value; index as i">
            <div class="track">
              <input type="radio" [id]="'track'+i" name="tracks" [value]="i" (click)="trackChange($event)"
                [checked]="this.optionsService.currentTrack === i">

              <div class="labelContainer">
                <label class="trackLabel" [for]="'track'+i">{{i}} - {{track.title}}</label>
              </div>
            </div>
          </ng-container>
        </ng-container>


      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
