<mat-expansion-panel expanded="true">

  <mat-expansion-panel-header [@.disabled]="true" expandedHeight="30px" collapsedHeight="30px">
    General Options
  </mat-expansion-panel-header>

  <input type="checkbox" id="Show Title" name="Show Title" [(ngModel)]="this.general.showTitle">
  <label for="Show Title"> Show Title</label>
  <br>
  <input type="checkbox" id="Show Waveform" name="Show Waveform" [(ngModel)]="this.general.showWaveform">
  <label for="Show Waveform"> Show Waveform</label>
  <br>
  <input type="checkbox" id="Show Sound Wave" name="Show Sound Wave" [(ngModel)]="this.general.showSoundWave">
  <label for="Show Sound Wave"> Show Sound Wave</label>
  <br>
  <input type="checkbox" id="Show Freq Bars" name="Show Freq Bars" [(ngModel)]="this.general.showBars.value">
  <label for="Show Freq Bars"> Show Freq Bars</label>
  <br>

  <ng-container *ngIf="this.general.showBars.value === true">

    <h6 style="margin-top:5px">Frequency Labels</h6>

    <ng-container *ngFor="let note of this.general.showBars.note; let indexOfElement=index;">

      <div style="display:inline-block; width:30%; margin: 1%; border: 1px solid black">
        <input type="radio" [id]="note.label" name="Notes" [value]="indexOfElement" (click)="radioNoteChange($event)"
          [checked]="this.general.showBars.note[indexOfElement].checked">
        <label class="noteLabel" [for]="note.label">{{note.label}}</label>
      </div>
    </ng-container>

  </ng-container>

  <!-- <app-note></app-note> -->

</mat-expansion-panel>
